.ace_editor {
    border: 1px solid lightgray;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    height:500px;;
    width:800px;
    z-index:3;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
}

.fullScreen {
    overflow: hidden
}