body, html {
    height:100%;
    background-image:url('../img/tileable_wood_texture.png');
    background-repeat: repeat;
}

.center { float: none; margin-left: auto; margin-right: auto; }


.ace_editor {
    border: 1px solid lightgray;
    margin-left:auto;
    margin-right:auto;
    height:500px;;
    width:100%;
    z-index:1;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
}

.fullScreen {
    overflow: hidden
}